.container {
  width: 50%;
  margin-top: var(--main-margin);
  margin-left: auto;
  margin-right: auto;
}
mat-grid-list {
  background-color: #f2efe5;
  margin-bottom: var(--main-margin);
}

.score {
  width: 100%;
  height: 100%;
  margin-right: var(--main-margin);
  background-color: #bcbcbc;
  box-sizing: border-box;
}
.score .number {
  height: 70%;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.score .unit {
  height: 30%;
  text-align: center;
}

#header {
  width: 100%;
  text-align: left;
}
#header h6 {
  margin-top: var(--main-margin);
  margin-bottom: 0px;
  display: inline;
}
#header mat-icon {
  float: right;
  margin: var(--main-margin);
}

#header mat-icon:hover {
  cursor: pointer;
}

#header p {
  font-size: 0.8rem;
  color: #abb2b9;
}

#footer {
  width: 100%;
  text-align: left;
}
