.example-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: #ffece4;
  box-sizing: border-box;
}
mat-form-field {
  margin-top: 8px;
  width: 100%;
}

.example-container .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
